*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  color: black;
}


a{
  text-decoration: none;
  color: black;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}

.logo {
  width: 80px;
  height: 80px;

}

.navbar ul {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.navbar ul li {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  color: #000;
}

